@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background-color: #cacacaca;
}

.container{
    /* border: 1px solid #000; */
    width: 70%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image{
    display: none;
}

#prev{
    position: absolute;
    color: #fff;
    background-color: #000;
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next{
    position: absolute;
    color: #fff;
    background-color: #000;
    top: 43%;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover, #next:hover{
    background-color: rgba(0,0,0,0.5)
}

.dots{
    text-align: center;
    margin-top: 2%;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active{
    background-color: #000;
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

@media(max-width: 768){
    .container{
        width: 100%;
    }
}